.nav {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    text-align: center;

    /* border: solid 1px rebeccapurple; */
}

.nav a {
    /* border: solid 1px rebeccapurple; */
    padding: 5px 15px;
    margin: 5px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav a:link{
    text-decoration: none;
}

.active{
    
    border-right: solid 2px skyblue;
    border-top: solid 2px skyblue;
    border-left: solid 2px skyblue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

.inactive{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: solid 2px white;
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px skyblue;

}